body.single .container .right-col {
    display: block;
}

/* 目录样式优化 */
.toc-container {
    margin-bottom: 20px;
    
    h3 {
        margin-bottom: 10px;
        font-size: 1.2em;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }

    .toc-list {
        padding-left: 0;
        
        ul {
            padding-left: 15px;
        }
        
        li {
            list-style-type: none;
            margin: 5px 0;
            line-height: 1.4;
            
            a {
                color: #444;
                text-decoration: none;
                font-size: 1.3em;
                
                &:hover {
                    color: #258fb8;
                    text-decoration: underline;
                }
            }
        }
    }
}
